<!DOCTYPE HTML>

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="../src/style.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="../src/scripts.js"></script>
        <title>Tourism Association</title>
    </head>
        <body>

            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #953553;">
                <a class="navbar-brand" href="home.html"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAlMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="index.html">Home</a>
                        <a class="nav-item nav-link active" href="history.html">Our History</a>
                        <a class="nav-item nav-link" href="visit.html">Visit Us</a>
                    </div>
                </div>
            </nav>

            <div class="banner">
                <h1>ABERDEEN</h1>
                <h4>THE GRANITE CITY</h4>
                <h6>Est. 1175</h6>
            </div>
            
            <div class="heading">
                <h1> OUR HISTORY </h1>
                <div class="lineAnimation"></div>
            </div>


            <div class="titleImg">
                <img src="../Static/intro.jpg" width="300" height="300">  
            </div>
            
            <div class="paragraphWithImg">
                The Aberdeen area has seen human settlement for at least 8,000 years. 
                The city began as two separate burghs: Old Aberdeen at the mouth of the river Don; and New Aberdeen, a fishing and trading settlement. 
                New Aberdeen included the Cathedral & University settlement.  
                These seperate settlements can be noted by the age of the architecture in these two areas of Aberdeen.
            </div>

            <div class="titleImg">
                <img src="../Static/abdnww2.jpg" width="300" height="300">
            </div>

            <div class="paragraphWithImg">
                Aberdeen suffered from the most bombings in Scotland as part of the German air raids in WW2. 
                Not necessarily due to the strategic value of the city, but rather due to the geographical location, as Aberdeen was the first contact with land the Luftwaffe. 
                Leaving bombers to drop their bombs earlier due to fear of anti-air battery.  
            </div>

            <div class="titleImg">
                <img src="../Static/oilrig.jpg" height="300" width="300">
            </div>

            <div class="paragraphWithImg">
                Regarded as the oil capital of Europe, Aberdeen has been bustling with oil and gas activity since BP developed the Forties field in the 70s. 
                A decade later, Britain had become a net-exporter of oil due to the massive developments offshore. 
                This lead to great economic activity in the region. However, the success wasn’t without cost, as shown with the Piper Alpha disaster. 
                Where over 165 men lost their lives in one of the greatest offshore disasters in history.
            </div>