<!DOCTYPE HTML>

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="../src/style.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="../src/scripts.js"></script>
        <title>Tourism Association</title>
    </head>
        <body>

            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #953553;">
                <a class="navbar-brand" href="home.html"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAlMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="index.html">Home</a>
                        <a class="nav-item nav-link" href="history.html">Our History</a>
                        <a class="nav-item nav-link" href="visit.html">Visit Us</a>
                    </div>
                </div>
            </nav>

            <div class="banner">
                <h1>ABERDEEN</h1>
                <h4>THE GRANITE CITY</h4>
                <h6>Est. 1175</h6>
            </div>
            
            <div class="heading">
                <h1> ABOUT  </h1>
                <div class="lineAnimation"></div>
            </div>
                
                <a href="https://goo.gl/maps/MoM6gq7bxwcDKTPv7" target="_blank">
                    <div class="titleImg">
                        <img src="../Static/200px-Aberdeen-20080217.png" width="300" height="300">
                        <div class="imageOverlay"></div>
                    </div>
                </a>
                
                <div class="paragraphWithImg">
                    <p>
                        Aberdeen is a vibrant city that rests on the shoulder of Scotland, located next to the North Sea. 100 miles away from Edinburgh, 400 to London. 
                        Aberdeen is the largest city in the North East of Scotland, full of vibrancy and character. 
                        Where harbour meets city, Aberdeen is famed for it's enduring victorian granite architecture that have stood for hundreds of years from The Kings College to Aberdeen Ironworks. 
                        The design is a staple across the city.
                    </p>
                </div>

                <div class="paragraph">
                    <p>
                        A short journey out of the city leads to the shire, which is home to powerful greenery, tall mountains and gorgeous lochs. 
                        Here you'll find some of the most beautiful landscapes within Scotland. 
                        There can be found the Cairngorms National Park, Balmoral Castle and the beautiful sandy beaches of the north east. 
                        <br>
                        <br>
                        Aberdeen remains a popular destination for students due to The University of Aberdeen and Robert Gordons University. 
                        Aberdeen has a stunning nightlife, with a wide array of bars, nightclubs and other venues. 
                        From Aberdeens 200,000 residents, 12% of which are students. Almost double the national average.
                </p>
            </div>


        </body>